
button {
    background-color: transparent;
}

.ab:focus {
    background-color: #49A7EC ;
    border-radius: 50%;
    border: 1px;
    border-width: 2px;
    border: solid;
    border-color: #49A7EC;
}

.ab:hover {
    border-radius: 50%;
    background-color: rgba(0,0,0,.7);
    outline: none;
    border:1px solid rgba(0,0,0,.7);
}
  
/* background-color: #49A7EC;
    border-radius: 50%; 
    border:1px solid-#49A7EC ;
    outline: none; */